#budget-form {
  display: flex;
  border-radius: 5px;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 30%;
}
#budget-form input.btn{
  background-color: rgba(77, 164, 77, 0.803);
  color:white;
  font-weight: bold;
  border-radius: 5px;
}
input.budget:hover{
  background-color: rgba(33, 114, 33, 0.803);
}
#budget-form input {
  padding: 5px;
  border: 0;
  border-bottom: 0.5px solid rgba(77, 164, 77, 0.803);
  width: 100%;
}

input:focus {
  outline: none
}

input:hover{
  /* box-shadow:3px 2px 2px 1px rgba(184, 184, 187, 0.2); */
  font-weight: bold;
  cursor: pointer;
}
.btn:active{
  font-size: 0.5em;
}
.btn:hover{
  background-color: rgba(21, 96, 21, 0.803);
  border-radius: 5px;
}