.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightcoral;
  color: white;
  font-weight: bolder;
}
.close-button:hover {
  background-color: red;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  color: rgba(171, 205, 216, 0.4);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:active {
  transform: scale(0.8);
}

button:focus {
  outline: none;
}

button:hover {
  color: rgba(171, 205, 216, 0.7);
}

.project-input {
  padding: 10px;
}

label {
  font-weight: bold;
  color: rgba(159, 170, 174, 0.94);
}

input[type=text], input[type=date] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgba(23, 179, 85, 0.509);
}
input[type=submit] {
  background-color: rgba(23, 179, 85, 0.509);
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

input[type=submit]:hover{
  background-color: rgba(23, 179, 85, 0.8);
  cursor: pointer;
}